.source-link-label {
font-size: 7px;
fill: black;
}

.target-link-label {
font-size: 7px;
fill: black;
}

.link-labelText {
font-size: 20px;
text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
font-family: 'Ubuntu', sans-serif;
}

.popover {
    max-width: 1980px;
    max-height: 1080px;
}

.table-structure {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-structure .table-header {
    text-align:left;
    vertical-align:top
}

.table-structure .table-column2 {
    text-align:center;
    vertical-align:top
}

.table-structure .table-column1 {
    font-size:18px;
    text-align:left;
    vertical-align:top
}

.table-structure td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.table-structure th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight: normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.li-indent {
  margin-left: 35px;
  padding: 0;
}
